In [ ]:
# Import the python libraries
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt

!pip install yfinance
import yfinance as yf

Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.70)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.5)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.8.0)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.27.1)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)

In [ ]:
# ticker로 해당 종목 이름열인 'NAME'을 생성 - 별도 반환없이 바로 지정된 df에 생성
def tcknaming(df):
  df['NAME'] = df.index.map(lambda x: ticker[x][0])

In [ ]:
# Bank Account
ba = {
    '01': 'Free',
    '14': 'ISA',
    '28': 'DC',
    '29': 'IRP'
}

# 종목 정보 - 신규 종목 매수 시, 별도 지정 필요
ticker = {
    '005930':  ['삼성전자',  'KR',  'STOCK'],
    '000660':  ['SK하이닉스',  'KR',  'STOCK'],
    '035420':  ['NAVER',  'KR',  'STOCK'],
    '069500':  ['KODEX 200',  'KR',  'ETF'],
    '088980':  ['맥쿼리인프라',  'KR',  'STOCK'],
    '123310':  ['TIGER 인버스',  'KR',  'ETF'],
    '133690':  ['TIGER 미국나스닥100',  'KR',  'ETF'],
    '139280':  ['TIGER 경기방어',  'KR',  'ETF'],
    '157490':  ['TIGER 소프트웨어',  'KR',  'ETF'],
    '195980':  ['ARIRANG 신흥국MSCI(합성 H)',  'KR',  'ETF'],
    '219390':  ['KBSTAR 미국S&P원유생산기업(합성 H)',  'KR',  'ETF'],
    '266410':  ['KODEX 필수소비재',  'KR',  'ETF'],
    '271050':  ['KODEX WTI원유선물인버스(H)',  'KR',  'ETF'],
    '319640':  ['TIGER 골드선물(H)',  'KR',  'ETF'],
    '334690':  ['KBSTAR 팔라듐선물(H)',  'KR',  'ETF'],
    '332610':  ['ARIRANG 미국단기우량회사채',  'KR',  'ETF'],
    '360750':  ['TIGER 미국S&P500',  'KR',  'ETF'],
    '371450':  ['TIGER 글로벌클라우드컴퓨팅INDXX',  'KR',  'ETF'],
    '371460':  ['TIGER 차이나전기차SOLACTIVE',  'KR',  'ETF'],
    '373790':  ['KOSEF 미국방어배당성장나스닥',  'KR',  'ETF'],
    '394350':  ['KOSEF 릭소글로벌퓨처모빌리티MSCI',  'KR',  'ETF'],
    '409810':  ['KODEX 미국나스닥100선물인버스(H)',  'KR',  'ETF'],
    '411420':  ['KODEX 미국메타버스나스닥액티브',  'KR',  'ETF'],
    '510006':  ['대신 인버스 니켈선물 ETN(H)',  'KR',  'ETF'],
    '530020':  ['삼성 미국 대형 가치주 ETN',  'KR',  'ETF'],
    '570049':  ['TRUE S&P500 양매도 4% OTM ETN(H)',  'KR',  'ETF'],
    '590018':  ['미래에셋 중국 심천 100 ETN',  'KR',  'ETF']
}

In [ ]:
cap = [
    ['2022-03-21', 1500000, 2000000, 750000, 17100000]
]

mycapital = [
    ['2022-04-01', 1320963, 1815919, 745075, 17169766]
]

# 일자, Ticker, 주식수, 체결가격, Bank account
# Price: 매수+, 매도-
poslist = [
    ['2021-12-13', '005930', 1, 77100, '14'],
    ['2021-12-13', '069500', 2, 40027, '14'],
    ['2020-12-13', '360750', 7, 14028, '14'],
    ['2021-12-21', '005930', 2, 78200, '14'],
    ['2021-12-22', '000660', 1, 128500, '14'],
    ['2021-12-22', '005930', 2, 79100, '14'],
    ['2021-12-22', '035420', 1, 378000, '14'],
    ['2021-12-23', '088980', 7, 14150, '14'],
    ['2021-12-23', '133690', 3, 86165, '01'],
    ['2021-12-24', '005930', 2, 80800, '14'],
    ['2021-12-24', '133690', 3, 86600, '01'],
    ['2021-12-24', '360750', 15, 14125, '01'],
    ['2022-01-03', '411420', 20, 10150, '01'],
    ['2022-01-04', '530020', 9, 17512, '14'],
    ['2022-01-06', '133690', 5, 84920, '14'],
    ['2022-01-06', '530020', 7, 17870, '14'],
    ['2022-01-06', '590018', 15, 20085, '14'],
    ['2022-01-06', '360750', 14, 14215, '14'],
    ['2022-01-06', '005930', -7, 77500, '14'],
    ['2022-01-06', '035420', -1, 346000, '14'],
    ['2022-01-06', '069500', -2, 39435, '14'],
    ['2022-01-06', '088980', -7, 13800, '14'],
    ['2022-01-24', '334690', 19, 12090, '01'],
    ['2022-01-24', '411420', -20, 8475, '01'],
    ['2022-01-28', '510006', 53, 3820, '01'],
    ['2022-01-28', '000660', -1, 119500, '14'],
    ['2022-02-14', '409810', 41, 11230, '01'],
    ['2022-02-14', '133690', -6, 76300, '01'],
    ['2022-02-15', '271050', 17, 5835, '01'],
    ['2022-02-24', '510006', -53, 3360, '01'],
    ['2022-02-24', '360750', -15, 12535, '01'],
    ['2022-02-24', '133690', -5, 70930, '14'],
    ['2022-02-24', '360750', -21, 12552, '14'],
    ['2022-03-04', '195980', 11, 11045, '29'],
    ['2022-03-04', '360750', 9, 13225, '29'],
    ['2022-03-07', '271050', 95, 4249, '14'],
    ['2022-03-10', '334690', -19, 16735, '01'],
    ['2022-03-14', '319640', 14, 14270, '14'],
    ['2022-03-14', '570049', 17, 11670, '14'],
    ['2022-03-14', '123310', 20, 4895, '01'],
    ['2022-03-14', '219390', 180, 5545, '28'],
    ['2022-03-14', '332610', 10, 102840, '28'],
    ['2022-03-14', '373790', 77, 12950, '28'],
    ['2022-03-16', '590018', -15, 16243, '14'],
    ['2022-03-16', '195980', -11, 9865, '29'],
    ['2022-03-23', '123310', -19, 4770, '01'],
    ['2022-03-23', '271050', -94, 4450, '14'],
    ['2022-03-23', '266410', 127, 7910, '28'],
    ['2022-03-30', '409810', -40, 10390, '01'],
    ['2022-03-30', '570049', 25, 11715, '14'],
    ['2022-03-30', '360750', 9, 14115, '29'],
    ['2022-03-30', '133690', 1, 82580, '29'],
    ['2022-03-30', '139280', 99, 10130, '28'],
    ['2022-03-30', '371450', 101, 9900, '28'],
    ['2022-03-30', '157490', 70, 14325, '28'],
    ['2022-03-30', '394350', 91, 10984, '28'],
    ['2022-03-30', '371460', 68, 14720, '28']
]

position = pd.DataFrame(poslist, columns=['DATE', 'TICKER', 'STOCKS', 'PRICE', 'BA'])
# position.set_index('TICKER', inplace= True)

# 총 거래 가격. 현금 유출/유입으로 계산하므로 -1로 부호 반전
position['POS'] = -1 * position.STOCKS * position.PRICE
# 매도 해당 거래는 별도 열로 표기
position['SELL'] = position.STOCKS.apply(lambda x: True if x < 0 else False)

position.tail()

          DATE  TICKER  STOCKS  PRICE  BA      POS   SELL
52  2022-03-30  139280      99  10130  28 -1002870  False
53  2022-03-30  371450     101   9900  28  -999900  False
54  2022-03-30  157490      70  14325  28 -1002750  False
55  2022-03-30  394350      91  10984  28  -999544  False
56  2022-03-30  371460      68  14720  28 -1000960  False

In [ ]:
print('Total Transaction:', len(position))
print('-----------------------')
print('Buy:', len(position) - position.SELL.sum())
print('Sell:', position.SELL.sum())

Total Transaction: 57
-----------------------
Buy: 40
Sell: 17

In [ ]:
position.columns

Index(['DATE', 'TICKER', 'STOCKS', 'PRICE', 'BA', 'POS', 'SELL'], dtype='object')

In [ ]:
position.loc[position.SELL == True, :]

          DATE  TICKER  STOCKS   PRICE  BA     POS  SELL
18  2022-01-06  005930      -7   77500  14  542500  True
19  2022-01-06  035420      -1  346000  14  346000  True
20  2022-01-06  069500      -2   39435  14   78870  True
21  2022-01-06  088980      -7   13800  14   96600  True
23  2022-01-24  411420     -20    8475  01  169500  True
25  2022-01-28  000660      -1  119500  14  119500  True
27  2022-02-14  133690      -6   76300  01  457800  True
29  2022-02-24  510006     -53    3360  01  178080  True
30  2022-02-24  360750     -15   12535  01  188025  True
31  2022-02-24  133690      -5   70930  14  354650  True
32  2022-02-24  360750     -21   12552  14  263592  True
36  2022-03-10  334690     -19   16735  01  317965  True
43  2022-03-16  590018     -15   16243  14  243645  True
44  2022-03-16  195980     -11    9865  29  108515  True
45  2022-03-23  123310     -19    4770  01   90630  True
46  2022-03-23  271050     -94    4450  14  418300  True
48  2022-03-30  409810     -40   10390  01  415600  True

* df - 컨테이너, 매도결과
* 매도할 때마다 해당 결과값으로 평가
* 매수면 기존값에 더하고 평가금액 재산정, 매도이면 해당값으로 결과산출 후 재산정
  

1. 컨테이너df, 결과df 생성
2. position df를 row로 looping
    SELL == True 여부를 검사
        (False, 매수) 컨테이너에 포함여부 검사
            없으면 신규추가
            있으면 주식수, 가격을 합침
            완료 후 평균가격 재산정
        (True, 매도) 
            해당 값의 평균가 가져옴
            결과 계산
            결과df 추가
            컨테이너df 추가 --> 주식수/가격 합침 --> 완료 후 평균가 재산정

In [ ]:
pos_gb = position.groupby(['TICKER']).sum()
pos_gb.drop('PRICE', axis=1, inplace= True)
pos_gb['NAME'] = pos_gb.index.map(lambda x: ticker[x][0])
pos_gb = pos_gb.loc[:, ['NAME', 'STOCKS', 'POS', 'SELL']]

In [ ]:
pos_gb

                                 NAME  STOCKS      POS  SELL
TICKER
000660                         SK하이닉스       0    -9000   1.0
005930                           삼성전자       0   -10800   1.0
035420                          NAVER       0   -32000   1.0
069500                      KODEX 200       0    -1184   1.0
088980                         맥쿼리인프라       0    -2450   1.0
123310                      TIGER 인버스       1    -7270   1.0
133690                 TIGER 미국나스닥100       1  -213025   2.0
139280                     TIGER 경기방어      99 -1002870   0.0
157490                    TIGER 소프트웨어      70 -1002750   0.0
195980          ARIRANG 신흥국MSCI(합성 H)       0   -12980   1.0
219390       KBSTAR 미국S&P원유생산기업(합성 H)     180  -998100   0.0
266410                    KODEX 필수소비재     127 -1004570   0.0
271050            KODEX WTI원유선물인버스(H)      18   -84550   1.0
319640                  TIGER 골드선물(H)      14  -199780   0.0
332610              ARIRANG 미국단기우량회사채      10 -1028400   0.0
334690                KBSTAR 팔라듐선물(H)       0    88255   1.0
360750                 TIGER 미국S&P500      18  -303524   2.0
371450          TIGER 글로벌클라우드컴퓨팅INDXX     101  -999900   0.0
371460          TIGER 차이나전기차SOLACTIVE      68 -1000960   0.0
373790              KOSEF 미국방어배당성장나스닥      77  -997150   0.0
394350          KOSEF 릭소글로벌퓨처모빌리티MSCI      91  -999544   0.0
409810         KODEX 미국나스닥100선물인버스(H)       1   -44830   1.0
411420             KODEX 미국메타버스나스닥액티브       0   -33500   1.0
510006             대신 인버스 니켈선물 ETN(H)       0   -24380   1.0
530020               삼성 미국 대형 가치주 ETN      16  -282698   0.0
570049  TRUE S&P500 양매도 4% OTM ETN(H)      42  -491265   0.0
590018             미래에셋 중국 심천 100 ETN       0   -57630   1.0

In [ ]:
closed = pos_gb.loc[pos_gb.STOCKS == 0].drop(['STOCKS', 'SELL'], axis=1).copy()
closed = closed[['NAME', 'POS']]
# closed = closed.join(buy_gb)
# closed['PROFIT%'] = closed.AMOUNT / closed.INVEST * -1

print("*** CLOSED POSITION ***")
closed.sort_values(by='POS')

*** CLOSED POSITION ***

                         NAME    POS
TICKER
590018     미래에셋 중국 심천 100 ETN -57630
411420     KODEX 미국메타버스나스닥액티브 -33500
035420                  NAVER -32000
510006     대신 인버스 니켈선물 ETN(H) -24380
195980  ARIRANG 신흥국MSCI(합성 H) -12980
005930                   삼성전자 -10800
000660                 SK하이닉스  -9000
088980                 맥쿼리인프라  -2450
069500              KODEX 200  -1184
334690        KBSTAR 팔라듐선물(H)  88255

In [ ]:
print("CLOSED TOTAL")
print("--------------")
print("Profit    ₩ {:,}".format(closed.POS.sum()))

CLOSED TOTAL
--------------
Profit    ₩ -95,669

In [ ]:
# 현재 보유 중인 포지션에 대한 DataFrame 생성
open = pos_gb.loc[pos_gb.STOCKS != 0].copy()

# 보유 포지션의 현재값을 yfinanace에서 찾아옴
tks = open.index.to_list()
currentprice = []

for tk in tks:
    tk_yahoo = yf.Ticker(tk + '.KS')
    data = tk_yahoo.history().tail(1)['Close'].iloc[0]
    currentprice.append(data)

# CV: 현재평가액 = 현재가 x 보유수, EVA: 평가증감 = 포지션 - 현재평가액
open['CV'] = currentprice * open.STOCKS
open['EVA'] = open.AMOUNT + open.CV

open.sort_values('EVA')

,STOCKS,AMOUNT,SELL,NAME,CV,EVA
TICKER,,,,,,
360750,9,-176489,2,TIGER 미국S&P500,120375.0,-56114.0
332610,10,-1028400,0,ARIRANG 미국단기우량회사채,1001600.0,-26800.0
373790,77,-997150,0,KOSEF 미국방어배당성장나스닥,991375.0,-5775.0
319640,14,-199780,0,TIGER 골드선물(H),195790.0,-3990.0
123310,20,-97900,0,TIGER 인버스,96000.0,-1900.0
570049,17,-198390,0,TRUE S&P500 양매도 4% OTM ETN(H),199835.0,1445.0
409810,41,-460430,0,KODEX 미국나스닥100선물인버스(H),462890.0,2460.0
219390,180,-998100,0,KBSTAR 미국S&P원유생산기업(합성 H),1007100.0,9000.0
530020,16,-282698,0,삼성 미국 대형 가치주 ETN,292240.0,9542.0
271050,112,-502850,0,KODEX WTI원유선물인버스(H),530320.0,27470.0

In [ ]:
print("OPEN TOTAL")
print("--------------")
print("Invest: ₩ {:,}".format(open.CV.sum()))
print("")
print("Profit: ₩ {:,}".format(open.EVA.sum()))
print("Total Prifit%: {:,}".format(open.EVA.sum() / open.CV.sum()))

OPEN
--------------
Total Invest: ₩ 4,897,525.0

Total Profit: ₩ -44,662.0
Total Prifit%: -0.009119300054619426

In [ ]:
test = pd.DataFrame(columns = ['TIKCER', 'STOCKS', 'AVG-PRICE'])

for i in range(3):                                  # Append rows within for loop
    test.loc[len(test)] = position.iloc(i)

test

# for i in range(3):
  # print(position.iloc[i])

ValueError: ignored

In [ ]:
test = pd.DataFrame(columns = ['TIKCER', 'STOCKS', 'PRICE', 'BA', 'POS'])

test.loc[len(test)] = position.iloc[0].tolist()[1:-1]

test

   TIKCER STOCKS  PRICE  BA     POS
0  005930      1  77100  14  -77100

In [ ]:
test

   TIKCER STOCKS  PRICE  BA     POS
0  005930      1  77100  14  -77100

In [ ]:
test.isin(position.iloc[0, 1])

TypeError: ignored

In [ ]:
position.loc[position.TICKER == '360750', :]

          DATE  TICKER  STOCKS  PRICE  BA     POS   SELL
2   2020-12-13  360750       7  14028  14  -98196  False
11  2021-12-24  360750      15  14125  01 -211875  False
17  2022-01-06  360750      14  14215  14 -199010  False
30  2022-02-24  360750     -15  12535  01  188025   True
32  2022-02-24  360750     -21  12552  14  263592   True
34  2022-03-04  360750       9  13225  29 -119025  False

In [ ]:
test = position.loc[position.TICKER == '360750', :].copy()
test

          DATE  TICKER  STOCKS  PRICE  BA     POS   SELL
2   2020-12-13  360750       7  14028  14  -98196  False
11  2021-12-24  360750      15  14125  01 -211875  False
17  2022-01-06  360750      14  14215  14 -199010  False
30  2022-02-24  360750     -15  12535  01  188025   True
32  2022-02-24  360750     -21  12552  14  263592   True
34  2022-03-04  360750       9  13225  29 -119025  False

In [ ]:
test.iloc[:4].loc[:, ['STOCKS', 'POS', 'SELL']].sum()

STOCKS        21
POS      -321056
SELL           1
dtype: int64

In [ ]:
test.iloc[:3].sum()

DATE      2020-12-132021-12-242022-01-06
TICKER                360750360750360750
STOCKS                                36
PRICE                              42368
BA                                140114
POS                              -509081
SELL                                   0
dtype: object

,STOCKS,AMOUNT,SELL,NAME,CV,EVALUATION
TICKER,,,,,,
123310,20,-97900,0,TIGER 인버스,96000.0,-1900.0
219390,180,-998100,0,KBSTAR 미국S&P원유생산기업(합성 H),1007100.0,9000.0
271050,112,-502850,0,KODEX WTI원유선물인버스(H),530320.0,27470.0
319640,14,-199780,0,TIGER 골드선물(H),195790.0,-3990.0
332610,10,-1028400,0,ARIRANG 미국단기우량회사채,1001600.0,-26800.0
360750,9,-176489,2,TIGER 미국S&P500,120375.0,-56114.0
373790,77,-997150,0,KOSEF 미국방어배당성장나스닥,991375.0,-5775.0
409810,41,-460430,0,KODEX 미국나스닥100선물인버스(H),462890.0,2460.0
530020,16,-282698,0,삼성 미국 대형 가치주 ETN,292240.0,9542.0
570049,17,-198390,0,TRUE S&P500 양매도 4% OTM ETN(H),199835.0,1445.0

In [ ]:
# 총 투자액 정리를 위한 DataFrame 생성 --> 중간에 청산 후 재투자할 경우, 중복되지 않나?
buy_gb = position.loc[position.SELL == False].groupby(['TICKER']).sum().drop(['PRICE', 'STOCKS', 'SELL'], axis=1)
buy_gb.columns = ['INVEST']

buy_gb.head()

In [ ]:
open.EVALUATION.sum()

-44662.0

In [ ]:
open['EVA%'] = open.EVALUATION / open.CV

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
open.sort_values('EVA%')

,STOCKS,AMOUNT,SELL,NAME,CV,EVALUATION,EVA%
TICKER,,,,,,,
360750,9,-176489,2,TIGER 미국S&P500,120375.0,-56114.0,-0.466160
332610,10,-1028400,0,ARIRANG 미국단기우량회사채,1001600.0,-26800.0,-0.026757
319640,14,-199780,0,TIGER 골드선물(H),195790.0,-3990.0,-0.020379
123310,20,-97900,0,TIGER 인버스,96000.0,-1900.0,-0.019792
373790,77,-997150,0,KOSEF 미국방어배당성장나스닥,991375.0,-5775.0,-0.005825
409810,41,-460430,0,KODEX 미국나스닥100선물인버스(H),462890.0,2460.0,0.005314
570049,17,-198390,0,TRUE S&P500 양매도 4% OTM ETN(H),199835.0,1445.0,0.007231
219390,180,-998100,0,KBSTAR 미국S&P원유생산기업(합성 H),1007100.0,9000.0,0.008937
530020,16,-282698,0,삼성 미국 대형 가치주 ETN,292240.0,9542.0,0.032651
271050,112,-502850,0,KODEX WTI원유선물인버스(H),530320.0,27470.0,0.051799

In [ ]:
for ticker in tk:
    ticker_yahoo = yf.Ticker(ticker)
    data = ticker_yahoo.history()
    last_quote = (data.tail(1)['Close'].iloc[0])
    print(ticker,last_quote)

In [ ]:
gbpos = position.groupby(['TICKER']).sum()
closed = gbpos.loc[gbpos.STOCKS == 0]
closed['NAME'] = closed.index.map(lambda x: ticker[x][0])

closed

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

        STOCKS   PRICE  AMOUNT                   NAME
TICKER
000660       0  248000   -9000                 SK하이닉스
035420       0  724000  -32000                  NAVER
069500       0   79462   -1184              KODEX 200
088980       0   27950   -2450                 맥쿼리인프라
133690       0  404915 -130445         TIGER 미국나스닥100
195980       0   20910  -12980  ARIRANG 신흥국MSCI(합성 H)
334690       0   28825   88255        KBSTAR 팔라듐선물(H)
411420       0   18625  -33500     KODEX 미국메타버스나스닥액티브
510006       0    7180  -24380     대신 인버스 니켈선물 ETN(H)
590018       0   36328  -57630     미래에셋 중국 심천 100 ETN

In [ ]:
position

          DATE  TICKER  STOCKS   PRICE  BA   AMOUNT   SELL
0   2021-12-13  005930       1   77100  14   -77100  False
1   2021-12-13  069500       2   40027  14   -80054  False
2   2020-12-13  360750       7   14028  14   -98196  False
3   2021-12-21  005930       2   78200  14  -156400  False
4   2021-12-22  000660       1  128500  14  -128500  False
5   2021-12-22  005930       2   79100  14  -158200  False
6   2021-12-22  035420       1  378000  14  -378000  False
7   2021-12-23  088980       7   14150  14   -99050  False
8   2021-12-23  133690       3   86165  01  -258495  False
9   2021-12-24  005930       2   80800  14  -161600  False
10  2021-12-24  133690       3   86600  01  -259800  False
11  2021-12-24  360750      15   14125  01  -211875  False
12  2022-01-03  411420      20   10150  01  -203000  False
13  2022-01-04  530020       9   17512  14  -157608  False
14  2022-01-06  133690       5   84920  14  -424600  False
15  2022-01-06  530020       7   17870  14  -125090  False
16  2022-01-06  590018      15   20085  14  -301275  False
17  2022-01-06  360750      14   14215  14  -199010  False
18  2022-01-06  005930      -7   77500  14   542500   True
19  2022-01-06  035420      -1  346000  14   346000   True
20  2022-01-06  069500      -2   39435  14    78870   True
21  2022-01-06  088980      -7   13800  14    96600   True
22  2022-01-24  334690      19   12090  01  -229710  False
23  2022-01-24  411420     -20    8475  01   169500   True
24  2022-01-28  510006      53    3820  01  -202460  False
25  2022-01-28  000660      -1  119500  14   119500   True
26  2022-02-14  409810      41   11230  01  -460430  False
27  2022-02-14  133690      -6   76300  01   457800   True
28  2022-02-15  271050      17    5835  01   -99195  False
29  2022-02-24  510006     -53    3360  01   178080   True
30  2022-02-24  360750     -15   12535  01   188025   True
31  2022-02-24  133690      -5   70930  14   354650   True
32  2022-02-24  360750     -21   12552  14   263592   True
33  2022-03-04  195980      11   11045  29  -121495  False
34  2022-03-04  360750       9   13225  29  -119025  False
35  2022-03-07  271050      95    4249  14  -403655  False
36  2022-03-10  334690     -19   16735  01   317965   True
37  2022-03-14  319640      14   14270  14  -199780  False
38  2022-03-14  570049      17   11670  14  -198390  False
39  2022-03-14  123310      20    4895  01   -97900  False
40  2022-03-14  219390     180    5545  28  -998100  False
41  2022-03-14  332610      10  102840  28 -1028400  False
42  2022-03-14  373790      77   12950  28  -997150  False
43  2022-03-16  590018     -15   16243  14   243645   True
44  2022-03-16  195980     -11    9865  29   108515   True

In [ ]:
gbpos = position.groupby(['TICKER']).sum()
gbpos

        STOCKS   PRICE   AMOUNT  SELL
TICKER
000660       0  248000    -9000     1
005930       0  392700   -10800     1
035420       0  724000   -32000     1
069500       0   79462    -1184     1
088980       0   27950    -2450     1
123310      20    4895   -97900     0
133690       0  404915  -130445     2
195980       0   20910   -12980     1
219390     180    5545  -998100     0
271050     112   10084  -502850     0
319640      14   14270  -199780     0
332610      10  102840 -1028400     0
334690       0   28825    88255     1
360750       9   80680  -176489     2
373790      77   12950  -997150     0
409810      41   11230  -460430     0
411420       0   18625   -33500     1
510006       0    7180   -24380     1
530020      16   35382  -282698     0
570049      17   11670  -198390     0
590018       0   36328   -57630     1

In [ ]:
temp = position.loc[position.SELL == False].groupby(['TICKER']).sum()
temp['NAME'] = temp.index.map(lambda x: ticker[x][0])

In [ ]:
temp

        STOCKS   PRICE   AMOUNT  SELL                           NAME
TICKER
000660       1  128500  -128500     0                         SK하이닉스
005930       7  315200  -553300     0                           삼성전자
035420       1  378000  -378000     0                          NAVER
069500       2   40027   -80054     0                      KODEX 200
088980       7   14150   -99050     0                         맥쿼리인프라
123310      20    4895   -97900     0                      TIGER 인버스
133690      11  257685  -942895     0                 TIGER 미국나스닥100
195980      11   11045  -121495     0          ARIRANG 신흥국MSCI(합성 H)
219390     180    5545  -998100     0       KBSTAR 미국S&P원유생산기업(합성 H)
271050     112   10084  -502850     0            KODEX WTI원유선물인버스(H)
319640      14   14270  -199780     0                  TIGER 골드선물(H)
332610      10  102840 -1028400     0              ARIRANG 미국단기우량회사채
334690      19   12090  -229710     0                KBSTAR 팔라듐선물(H)
360750      45   55593  -628106     0                 TIGER 미국S&P500
373790      77   12950  -997150     0              KOSEF 미국방어배당성장나스닥
409810      41   11230  -460430     0         KODEX 미국나스닥100선물인버스(H)
411420      20   10150  -203000     0             KODEX 미국메타버스나스닥액티브
510006      53    3820  -202460     0             대신 인버스 니켈선물 ETN(H)
530020      16   35382  -282698     0               삼성 미국 대형 가치주 ETN
570049      17   11670  -198390     0  TRUE S&P500 양매도 4% OTM ETN(H)
590018      15   20085  -301275     0             미래에셋 중국 심천 100 ETN

In [ ]:
position.loc[position.TICKER == '005930']

          DATE  TICKER  STOCKS  PRICE  BA  AMOUNT   SELL
0   2021-12-13  005930       1  77100  14  -77100  False
3   2021-12-21  005930       2  78200  14 -156400  False
5   2021-12-22  005930       2  79100  14 -158200  False
9   2021-12-24  005930       2  80800  14 -161600  False
18  2022-01-06  005930      -7  77500  14  542500   True

In [ ]:
closed.sum()

STOCKS                                                    0
PRICE                                               1596195
AMOUNT                                              -215314
NAME      SK하이닉스NAVERKODEX 200맥쿼리인프라TIGER 미국나스닥100ARIRAN...
dtype: object

In [ ]:
closed

        STOCKS   PRICE  AMOUNT                   NAME
TICKER
000660       0  248000    9000                 SK하이닉스
035420       0  724000   32000                  NAVER
069500       0   79462    1184              KODEX 200
088980       0   27950    2450                 맥쿼리인프라
133690       0  404915  130445         TIGER 미국나스닥100
195980       0   20910   12980  ARIRANG 신흥국MSCI(합성 H)
334690       0   28825  -88255        KBSTAR 팔라듐선물(H)
411420       0   18625   33500     KODEX 미국메타버스나스닥액티브
510006       0    7180   24380     대신 인버스 니켈선물 ETN(H)
590018       0   36328   57630     미래에셋 중국 심천 100 ETN

In [ ]:
closed.sum()

STOCKS          0
PRICE     1596195
AMOUNT     215314
dtype: int64

In [ ]:
position.loc[position.TICKER == '133690']

          DATE  TICKER  STOCKS  PRICE  BA
9   2021-12-23  133690       3  86165  01
11  2021-12-24  133690       3  86600  01
15  2022-01-06  133690       5  84920  14
28  2022-02-14  133690      -6  76300  01
32  2022-02-24  133690      -5  70930  14

In [ ]:
ticker['133690']

['TIGER 미국나스닥100', 'KR', 'ETF']

In [ ]:
portfolio = pd.DataFrame(columns=['TICKER', 'STOCKS', 'PRICE', 'BA'])

for index, row in position.iterrows():
  if row['POSITION'] == 'buy':
    if row['TICKER'].isin(portfolio.TICKER)
      portfolio.append([row['TICKER'], row['STOCKS'], row['PRICE'], row['BA'])

SyntaxError: ignored

In [ ]:
'buy' in position.POSITION

False

In [ ]:
portfolio = []
termination = []

for pos in position.POSITION:
    if pos == 'buy':
    
    else:

         DATE  TICKER  STOCKS   PRICE  BA
0  2022-01-06  005930       7   77500  14
1  2022-01-06  035420       1  346000  14
2  2022-01-06  069500       2   39435  14
3  2022-01-06  088980       7   13800  14
4  2022-01-24  411420      20    8475  01

In [ ]:
len(portfolio)

0

In [ ]:
portfolio

[DATE        2021-12-13
 TICKER          005930
 STOCKS               1
 PRICE            77100
 BA                  14
 POSITION           buy
 Name: 0, dtype: object, DATE        2021-12-13
 TICKER          069500
 STOCKS               2
 PRICE            40027
 BA                  14
 POSITION           buy
 Name: 1, dtype: object, DATE        2020-12-13
 TICKER          360750
 STOCKS               7
 PRICE            14028
 BA                  14
 POSITION           buy
 Name: 2, dtype: object, DATE        2021-12-13
 TICKER          005930
 STOCKS               1
 PRICE            77100
 BA                  14
 POSITION           buy
 Name: 3, dtype: object, DATE        2021-12-21
 TICKER          005930
 STOCKS               2
 PRICE            78200
 BA                  14
 POSITION           buy
 Name: 4, dtype: object, DATE        2021-12-22
 TICKER          000660
 STOCKS               1
 PRICE           128500
 BA                  14
 POSITION           buy
 Name: 5, dtype: object, DATE        2021-12-22
 TICKER          005930
 STOCKS               2
 PRICE            79100
 BA                  14
 POSITION           buy
 Name: 6, dtype: object, DATE        2021-12-22
 TICKER          035420
 STOCKS               1
 PRICE           378000
 BA                  14
 POSITION           buy
 Name: 7, dtype: object, DATE        2021-12-23
 TICKER          088980
 STOCKS               7
 PRICE            14150
 BA                  14
 POSITION           buy
 Name: 8, dtype: object, DATE        2021-12-24
 TICKER          005930
 STOCKS               2
 PRICE            80800
 BA                  14
 POSITION           buy
 Name: 9, dtype: object, DATE        2021-12-24
 TICKER          133690
 STOCKS               3
 PRICE            86600
 BA                  01
 POSITION           buy
 Name: 10, dtype: object, DATE        2021-12-24
 TICKER          360750
 STOCKS              15
 PRICE            14125
 BA                  01
 POSITION           buy
 Name: 11, dtype: object, DATE        2022-01-03
 TICKER          411420
 STOCKS              20
 PRICE            10150
 BA                  01
 POSITION           buy
 Name: 12, dtype: object, DATE        2022-01-04
 TICKER          530020
 STOCKS               9
 PRICE            17512
 BA                  14
 POSITION           buy
 Name: 13, dtype: object, DATE        2022-01-06
 TICKER          133690
 STOCKS               5
 PRICE            84920
 BA                  14
 POSITION           buy
 Name: 14, dtype: object, DATE        2022-01-06
 TICKER          530020
 STOCKS               7
 PRICE            17870
 BA                  14
 POSITION           buy
 Name: 15, dtype: object, DATE        2022-01-06
 TICKER          590018
 STOCKS              15
 PRICE            20085
 BA                  14
 POSITION           buy
 Name: 16, dtype: object, DATE        2022-01-06
 TICKER          360750
 STOCKS              14
 PRICE            14215
 BA                  14
 POSITION           buy
 Name: 17, dtype: object, DATE        2022-01-24
 TICKER          334690
 STOCKS              19
 PRICE            12090
 BA                  01
 POSITION           buy
 Name: 22, dtype: object, DATE        2022-01-28
 TICKER          510006
 STOCKS              53
 PRICE             3820
 BA                  01
 POSITION           buy
 Name: 24, dtype: object, DATE        2022-02-14
 TICKER          409810
 STOCKS              41
 PRICE            11230
 BA                  01
 POSITION           buy
 Name: 26, dtype: object, DATE        2022-02-15
 TICKER          271050
 STOCKS              17
 PRICE             5835
 BA                  01
 POSITION           buy
 Name: 28, dtype: object, DATE        2022-03-04
 TICKER          195980
 STOCKS              11
 PRICE            11045
 BA                  29
 POSITION           buy
 Name: 33, dtype: object, DATE        2022-03-04
 TICKER          360750
 STOCKS               9
 PRICE            13225
 BA                  29
 POSITION           buy
 Name: 34, dtype: object, DATE        2022-03-07
 TICKER          271050
 STOCKS              95
 PRICE             4249
 BA                  14
 POSITION           buy
 Name: 35, dtype: object, DATE        2022-03-14
 TICKER          319640
 STOCKS              14
 PRICE            14270
 BA                  14
 POSITION           buy
 Name: 37, dtype: object, DATE        2022-03-14
 TICKER          570049
 STOCKS              17
 PRICE            11670
 BA                  14
 POSITION           buy
 Name: 38, dtype: object, DATE        2022-03-14
 TICKER          123310
 STOCKS              20
 PRICE             4895
 BA                  01
 POSITION           buy
 Name: 39, dtype: object, DATE        2022-03-14
 TICKER          219390
 STOCKS             180
 PRICE             5545
 BA                  28
 POSITION           buy
 Name: 40, dtype: object, DATE        2022-03-14
 TICKER          332610
 STOCKS              10
 PRICE           102840
 BA                  28
 POSITION           buy
 Name: 41, dtype: object, DATE        2022-03-14
 TICKER          373790
 STOCKS              77
 PRICE            12950
 BA                  28
 POSITION           buy
 Name: 42, dtype: object]

In [ ]:
for stock in buy.