Reference: https://scribblinganything.tistory.com/377

In [6]:
# !pip install pandas_datareader
# !pip install yfinance

from pandas_datareader import data as pdr
import yfinance as yf
yf.pdr_override()  # 차트값을 불러올 때 최소한의 리딩. 의미는 몰라ㅎ

## pdr.get_data_yahoo() : 차트 정보 가져오기

In [7]:
# 기본 가격정보 로딩 - Start, End 지정필요
data = pdr.get_data_yahoo('^KS11', start= '2021-01-01', end= '2022-05-26')
data

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-01-04,2874.500000,2946.540039,2869.110107,2944.449951,2944.449951,1026500
2021-01-05,2943.669922,2990.570068,2921.840088,2990.570068,2990.570068,1519900
2021-01-06,2993.340088,3027.159912,2961.370117,2968.209961,2968.209961,1793400
2021-01-07,2980.750000,3055.280029,2980.750000,3031.679932,3031.679932,1524700
2021-01-08,3040.110107,3161.110107,3040.110107,3152.179932,3152.179932,1297900
...,...,...,...,...,...,...
2022-05-19,2576.239990,2597.790039,2568.540039,2592.340088,2592.340088,676900
2022-05-20,2605.780029,2641.679932,2605.379883,2639.290039,2639.290039,752400
2022-05-23,2651.629883,2653.870117,2634.290039,2647.379883,2647.379883,641900
2022-05-24,2638.939941,2646.989990,2605.870117,2605.870117,2605.870117,850700
2022-05-25,2621.750000,2630.169922,2602.939941,2617.219971,2617.219971,710200

## 회사 기본 정보

### .info : 요약 정보

In [39]:
aapl_yf = yf.Ticker('AAPL')

In [18]:
# .info : 회사 관련 정보를 json 형태로 반환
aapl_info = aapl_yf.info

aapl_info

{'zip': '95014',
 'sector': 'Technology',
 'fullTimeEmployees': 154000,
 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. In addition, the company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; AirPods Max, an over-ear wireless headphone; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, and iPod touch. Further, it provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. Additionally, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was incorporated in 1977 and is headquartered in Cupertino, California.',
 'city': 'Cupertino',
 'phone': '408 996 1010',
 'state': 'CA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'https://www.apple.com',
 'maxAge': 1,
 'address1': 'One Apple Park Way',
 'industry': 'Consumer Electronics',
 'ebitdaMargins': 0.33842000000000005,
 'profitMargins': 0.26407,
 'grossMargins': 0.43322000000000005,
 'operatingCashflow': 116425998336,
 'revenueGrowth': 0.08600000000000001,
 'operatingMargins': 0.30926000000000003,
 'ebitda': 130633998336,
 'targetLowPrice': 157,
 'recommendationKey': 'buy',
 'grossProfits': 152836000000,
 'freeCashflow': 84384628736,
 'targetMedianPrice': 190,
 'currentPrice': 149.64,
 'earningsGrowth': 0.08600000000000001,
 'currentRatio': 0.927,
 'returnOnAssets': 0.21695,
 'numberOfAnalystOpinions': 43,
 'targetMeanPrice': 188.92,
 'debtToEquity': 178.016,
 'returnOnEquity': 1.49271,
 'targetHighPrice': 214,
 'totalCash': 51511001088,
 'totalDebt': 119980998656,
 'totalRevenue': 386017001472,
 'totalCashPerShare': 3.183,
 'financialCurrency': 'USD',
 'revenuePerShare': 23.471,
 'quickRatio': 0.76,
 'recommendationMean': 1.9,
 'exchange': 'NMS',
 'shortName': 'Apple Inc.',
 'longName': 'Apple Inc.',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-14400000',
 'quoteType': 'EQUITY',
 'symbol': 'AAPL',
 'messageBoardId': 'finmb_24937',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 6.206,
 'beta3Year': None,
 'enterpriseToEbitda': 18.338,
 '52WeekChange': 0.20405531000000002,
 'morningStarRiskRating': None,
 'forwardEps': 6.5600000000000005,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 16185199616,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'totalAssets': None,
 'bookValue': 4.158,
 'sharesShort': 108695931,
 'sharesPercentSharesOut': 0.0067000003,
 'fundFamily': None,
 'lastFiscalYearEnd': 1632528000,
 'heldPercentInstitutions': 0.59596,
 'netIncomeToCommon': 101934997504,
 'trailingEps': 6.1370000000000005,
 'lastDividendValue': 0.23,
 'SandP52WeekChange': -0.010423481,
 'priceToBook': 35.988457,
 'heldPercentInsiders': 0.0007300000000000001,
 'nextFiscalYearEnd': 1695600000,
 'yield': None,
 'mostRecentQuarter': 1648252800,
 'shortRatio': 1.03,
 'sharesShortPreviousMonthDate': 1649894400,
 'floatShares': 16168348412,
 'beta': 1.194642,
 'enterpriseValue': 2395575418880,
 'priceHint': 2,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1598832000,
 'lastSplitFactor': '4:1',
 'legalType': None,
 'lastDividendDate': 1651795200,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': 0.058,
 'priceToSalesTrailing12Months': 6.274214,
 'dateShortInterest': 1652400000,
 'pegRatio': 2.36,
 'ytdReturn': None,
 'forwardPE': 22.810976,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.0067000003,
 'sharesShortPriorMonth': 103292182,
 'impliedSharesOutstanding': 0,
 'category': None,
 'fiveYearAverageReturn': None,
 'previousClose': 143.78,
 'regularMarketOpen': 145.39,
 'twoHundredDayAverage': 159.5,
 'trailingAnnualDividendYield': 0.006120462,
 'payoutRatio': 0.14310001,
 'volume24Hr': None,
 'regularMarketDayHigh': 149.66,
 'navPrice': None,
 'averageDailyVolume10Day': 104375330,
 'regularMarketPreviousClose': 143.78,
 'fiftyDayAverage': 160.5748,
 'trailingAnnualDividendRate': 0.88,
 'open': 145.39,
 'toCurrency': None,
 'averageVolume10days': 104375330,
 'expireDate': None,
 'algorithm': None,
 'dividendRate': 0.92,
 'exDividendDate': 1651795200,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 145.26,
 'currency': 'USD',
 'trailingPE': 24.38325,
 'regularMarketVolume': 90575717,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 2421953134592,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 97858273,
 'dayLow': 145.26,
 'ask': 150,
 'askSize': 2900,
 'volume': 90575717,
 'fiftyTwoWeekHigh': 182.94,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 1.1,
 'fiftyTwoWeekLow': 123.13,
 'bid': 149.99,
 'tradeable': False,
 'dividendYield': 0.0064,
 'bidSize': 800,
 'dayHigh': 149.66,
 'regularMarketPrice': 149.64,
 'preMarketPrice': None,
 'logo_url': 'https://logo.clearbit.com/apple.com',
 'trailingPegRatio': 2.4893}

### .actions : 배당, 분할

In [19]:
aapl_act = aapl_yf.actions

print(aapl_act)
# print(aapl_data.to_string())  # 전체내용 모두 보고싶을 때

            Dividends  Stock Splits
Date
1987-05-11   0.000536           0.0
1987-06-16   0.000000           2.0
1987-08-10   0.000536           0.0
1987-11-17   0.000714           0.0
1988-02-12   0.000714           0.0
...               ...           ...
2021-05-07   0.220000           0.0
2021-08-06   0.220000           0.0
2021-11-05   0.220000           0.0
2022-02-04   0.220000           0.0
2022-05-06   0.230000           0.0

[80 rows x 2 columns]

In [20]:
# 배당 이력만 별도 확인
aapl_div = aapl_yf.dividends
aapl_div

Date
1987-05-11    0.000536
1987-08-10    0.000536
1987-11-17    0.000714
1988-02-12    0.000714
1988-05-16    0.000714
                ...
2021-05-07    0.220000
2021-08-06    0.220000
2021-11-05    0.220000
2022-02-04    0.220000
2022-05-06    0.230000
Name: Dividends, Length: 75, dtype: float64

In [21]:
# 물적분할 이력만 별도 확인
aapl_split = aapl_yf.splits
aapl_split

Date
1987-06-16    2.0
2000-06-21    2.0
2005-02-28    2.0
2014-06-09    7.0
2020-08-31    4.0
Name: Stock Splits, dtype: float64

## 재무 정보

### .financials : 재무제표

In [26]:
aapl_fin = aapl_yf.financials
aapl_fin

,2021-09-25,2020-09-26,2019-09-28,2018-09-29
Research Development,2.1914e+10,1.8752e+10,1.6217e+10,1.4236e+10
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,1.09207e+11,6.7091e+10,6.5737e+10,7.2903e+10
Minority Interest,None,None,None,None
Net Income,9.468e+10,5.7411e+10,5.5256e+10,5.9531e+10
Selling General Administrative,2.1973e+10,1.9916e+10,1.8245e+10,1.6705e+10
Gross Profit,1.52836e+11,1.04956e+11,9.8392e+10,1.01839e+11
Ebit,1.08949e+11,6.6288e+10,6.393e+10,7.0898e+10
Operating Income,1.08949e+11,6.6288e+10,6.393e+10,7.0898e+10
Other Operating Expenses,None,None,None,None
Interest Expense,-2.645e+09,-2.873e+09,-3.576e+09,-3.24e+09
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,1.4527e+10,9.68e+09,1.0481e+10,1.3372e+10
Total Revenue,3.65817e+11,2.74515e+11,2.60174e+11,2.65595e+11
Total Operating Expenses,2.56868e+11,2.08227e+11,1.96244e+11,1.94697e+11
Cost Of Revenue,2.12981e+11,1.69559e+11,1.61782e+11,1.63756e+11
Total Other Income Expense Net,2.58e+08,8.03e+08,1.807e+09,2.005e+09
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,9.468e+10,5.7411e+10,5.5256e+10,5.9531e+10
Net Income Applicable To Common Shares,9.468e+10,5.7411e+10,5.5256e+10,5.9531e+10

### .balance_sheet 대차대조표

In [31]:
aapl_bs = aapl_yf.balance_sheet
aapl_bs

,2021-09-25,2020-09-26,2019-09-28,2018-09-29
Total Liab,2.879120e+11,2.585490e+11,2.480280e+11,2.585780e+11
Total Stockholder Equity,6.309000e+10,6.533900e+10,9.048800e+10,1.071470e+11
Other Current Liab,5.357700e+10,4.786700e+10,4.324200e+10,3.929300e+10
Total Assets,3.510020e+11,3.238880e+11,3.385160e+11,3.657250e+11
Common Stock,5.736500e+10,5.077900e+10,4.517400e+10,4.020100e+10
Other Current Assets,1.411100e+10,1.126400e+10,1.235200e+10,1.208700e+10
Retained Earnings,5.562000e+09,1.496600e+10,4.589800e+10,7.040000e+10
Other Liab,4.305000e+10,4.610800e+10,5.050300e+10,4.891400e+10
Treasury Stock,1.630000e+08,-4.060000e+08,-5.840000e+08,-3.454000e+09
Other Assets,3.876200e+10,3.395200e+10,3.297800e+10,2.228300e+10
Cash,3.494000e+10,3.801600e+10,4.884400e+10,2.591300e+10
Total Current Liabilities,1.254810e+11,1.053920e+11,1.057180e+11,1.159290e+11
Short Long Term Debt,9.613000e+09,8.773000e+09,1.026000e+10,8.784000e+09
Other Stockholder Equity,1.630000e+08,-4.060000e+08,-5.840000e+08,-3.454000e+09
Property Plant Equipment,4.952700e+10,4.533600e+10,3.737800e+10,4.130400e+10
Total Current Assets,1.348360e+11,1.437130e+11,1.628190e+11,1.313390e+11
Long Term Investments,1.278770e+11,1.008870e+11,1.053410e+11,1.707990e+11
Net Tangible Assets,6.309000e+10,6.533900e+10,9.048800e+10,1.071470e+11
Short Term Investments,2.769900e+10,5.292700e+10,5.171300e+10,4.038800e+10
Net Receivables,5.150600e+10,3.744500e+10,4.580400e+10,4.899500e+10
Long Term Debt,1.091060e+11,9.866700e+10,9.180700e+10,9.373500e+10
Inventory,6.580000e+09,4.061000e+09,4.106000e+09,3.956000e+09
Accounts Payable,5.476300e+10,4.229600e+10,4.623600e+10,5.588800e+10

### .cashflow 현금흐름표

In [32]:
aapl_cf = aapl_yf.cashflow
aapl_cf

,2021-09-25,2020-09-26,2019-09-28,2018-09-29
Investments,-2.819000e+09,5.335000e+09,5.809300e+10,3.084500e+10
Change To Liabilities,1.400200e+10,-1.981000e+09,-2.548000e+09,9.172000e+09
Total Cashflows From Investing Activities,-1.454500e+10,-4.289000e+09,4.589600e+10,1.606600e+10
Net Borrowings,1.266500e+10,2.499000e+09,-7.819000e+09,4.320000e+08
Total Cash From Financing Activities,-9.335300e+10,-8.682000e+10,-9.097600e+10,-8.787600e+10
Change To Operating Activities,-6.146000e+09,8.810000e+08,-8.960000e+08,3.001600e+10
Issuance Of Stock,1.105000e+09,8.800000e+08,7.810000e+08,6.690000e+08
Net Income,9.468000e+10,5.741100e+10,5.525600e+10,5.953100e+10
Change In Cash,-3.860000e+09,-1.043500e+10,2.431100e+10,5.624000e+09
Repurchase Of Stock,-9.252700e+10,-7.599200e+10,-6.971400e+10,-7.526500e+10
Total Cash From Operating Activities,1.040380e+11,8.067400e+10,6.939100e+10,7.743400e+10
Depreciation,1.128400e+10,1.105600e+10,1.254700e+10,1.090300e+10
Other Cashflows From Investing Activities,-6.080000e+08,-7.910000e+08,-1.078000e+09,-7.450000e+08
Dividends Paid,-1.446700e+10,-1.408100e+10,-1.411900e+10,-1.371200e+10
Change To Inventory,-2.642000e+09,-1.270000e+08,-2.890000e+08,8.280000e+08
Change To Account Receivables,-1.012500e+10,6.917000e+09,2.450000e+08,-5.322000e+09
Other Cashflows From Financing Activities,-1.290000e+08,-1.260000e+08,-1.050000e+08,-1.050000e+08
Change To Netincome,2.985000e+09,6.517000e+09,5.076000e+09,-2.769400e+10
Capital Expenditures,-1.108500e+10,-7.309000e+09,-1.049500e+10,-1.331300e+10

### .earnings 기업 수익실적

In [33]:
aapl_earn = aapl_yf.earnings
aapl_earn

           Revenue     Earnings
Year
2018  265595000000  59531000000
2019  260174000000  55256000000
2020  274515000000  57411000000
2021  365817000000  94680000000

## 주주 정보

### .major_holders : 주요 주주

In [27]:
aapl_hold = aapl_yf.major_holders
aapl_hold

        0                                      1
0   0.07%        % of Shares Held by All Insider
1  59.60%       % of Shares Held by Institutions
2  59.64%        % of Float Held by Institutions
3    5515  Number of Institutions Holding Shares

### .institutional_holders : 기업 주주

In [28]:
aapl_inhold = aapl_yf.institutional_holders
aapl_inhold

,Holder,Shares,Date Reported,% Out,Value
0,"Vanguard Group, Inc. (The)",1269995750,2022-03-30,0.0785,221753957907
1,Blackrock Inc.,1027632887,2022-03-30,0.0635,179434978399
2,"Berkshire Hathaway, Inc",890923410,2022-03-30,0.0550,155564136620
3,State Street Corporation,613852274,2022-03-30,0.0379,107184745563
4,"FMR, LLC",351584762,2022-03-30,0.0217,61390215292
5,"Geode Capital Management, LLC",272081668,2022-03-30,0.0168,47508180049
6,Price (T.Rowe) Associates Inc,233079365,2022-03-30,0.0144,40697987922
7,Northern Trust Corporation,186031985,2022-03-30,0.0115,32483044900
8,Bank of America Corporation,144401747,2022-03-30,0.0089,25213989043
9,Norges Bank Investment Management,142076403,2021-12-30,0.0088,25228506880