Reference : https://youngwonhan-family.tistory.com/32

OHLC = Open, High, Low, Close

In [1]:
# !pip install pandas-datareader # 주식 데이터 조회
# !pip install mplfinance # 금융차트
# !pip install plotly

Requirement already satisfied: pandas-datareader in /opt/anaconda3/lib/python3.8/site-packages (0.10.0)
Requirement already satisfied: pandas>=0.23 in /opt/anaconda3/lib/python3.8/site-packages (from pandas-datareader) (1.0.5)
Requirement already satisfied: requests>=2.19.0 in /opt/anaconda3/lib/python3.8/site-packages (from pandas-datareader) (2.27.1)
Requirement already satisfied: lxml in /opt/anaconda3/lib/python3.8/site-packages (from pandas-datareader) (4.5.2)
Requirement already satisfied: pytz>=2017.2 in /opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.23->pandas-datareader) (2020.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.23->pandas-datareader) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in /opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.23->pandas-datareader) (1.18.5)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.8/site-packages (from requests>=2.19.0->pandas-datareader) (2020.6.20)
Requirement already satisfied: idna<4,>=2.5; python_version >= "3" in /opt/anaconda3/lib/python3.8/site-packages (from requests>=2.19.0->pandas-datareader) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/anaconda3/lib/python3.8/site-packages (from requests>=2.19.0->pandas-datareader) (1.25.9)
Requirement already satisfied: charset-normalizer~=2.0.0; python_version >= "3" in /opt/anaconda3/lib/python3.8/site-packages (from requests>=2.19.0->pandas-datareader) (2.0.12)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.6.1->pandas>=0.23->pandas-datareader) (1.15.0)
Collecting mplfinance
  Downloading mplfinance-0.12.9b1-py3-none-any.whl (70 kB)
     |████████████████████████████████| 70 kB 4.4 MB/s eta 0:00:011
Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.8/site-packages (from mplfinance) (1.0.5)
Requirement already satisfied: matplotlib in /opt/anaconda3/lib/python3.8/site-packages (from mplfinance) (3.2.2)
Requirement already satisfied: python-dateutil>=2.6.1 in /opt/anaconda3/lib/python3.8/site-packages (from pandas->mplfinance) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /opt/anaconda3/lib/python3.8/site-packages (from pandas->mplfinance) (2020.1)
Requirement already satisfied: numpy>=1.13.3 in /opt/anaconda3/lib/python3.8/site-packages (from pandas->mplfinance) (1.18.5)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/anaconda3/lib/python3.8/site-packages (from matplotlib->mplfinance) (1.2.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /opt/anaconda3/lib/python3.8/site-packages (from matplotlib->mplfinance) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /opt/anaconda3/lib/python3.8/site-packages (from matplotlib->mplfinance) (0.10.0)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.6.1->pandas->mplfinance) (1.15.0)
Installing collected packages: mplfinance
Successfully installed mplfinance-0.12.9b1
Requirement already satisfied: plotly in /opt/anaconda3/lib/python3.8/site-packages (5.4.0)
Requirement already satisfied: tenacity>=6.2.0 in /opt/anaconda3/lib/python3.8/site-packages (from plotly) (8.0.1)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.8/site-packages (from plotly) (1.15.0)

In [2]:
import pandas_datareader as web
import mplfinance as mpf

In [3]:
df = web.naver.NaverDailyReader('005930', start= '2021-01-01', end='2022-05-28').read()
df

             Open   High    Low  Close    Volume
Date
2021-01-04  81000  84400  80200  83000  38655276
2021-01-05  81600  83900  81600  83900  35335669
2021-01-06  83300  84500  82100  82200  42089013
2021-01-07  82800  84200  82700  82900  32644642
2021-01-08  83300  90000  83000  88800  59013307
...           ...    ...    ...    ...       ...
2022-05-23  68800  68800  67600  67900  13684088
2022-05-24  67500  67700  66500  66500  15482576
2022-05-25  66700  67100  65900  66400  15150490
2022-05-26  66300  67200  65500  65900  15970890
2022-05-27  66700  66900  66200  66500  11346700

[347 rows x 5 columns]